
<form name="signalForm" ng-submit="ok()">
    <div class="modal-header">
        <h3 class="modal-title">Add signals to schema</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Node Name</label>
            <input type="text" class="form-control" ng-model="name" placeholder="Name" required />
        </div>
        <div ng-if="signalForm.name.$invalid" class="has-error">
            Node Name required
        </div>

        <div class="form-group">
            <label>Find Signals</label>
            <input type="text" ng-model="searchedSignal"
                   typeahead="signal as signal.value for signal in signalNames | filter:$viewValue | limitTo:8"
                   typeahead-editable="false"
                   typeahead-on-select="onSignalSelect($item, $model, $label)"
                   class="form-control">
        </div>


        <ul class="list-group" id="selectedSignals">
            <li ng-repeat="item in selectedSignals"
                class="list-group-item">

                <span ng-click="removeSignal(item)" class="remove-signal">X</span>

                <a>{{ item.value }}</a>

                <div class="signal-min-max-values pull-right">
                    <number-picker class="pull-right" value="item.min" name="'Min'"></number-picker>
                    <number-picker class="pull-right" value="item.max" name="'Max'"></number-picker>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="signalsError">
            Please select at least one signal
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>