<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>


    <div ng-include="'components/navbar/navbar.html'"></div>

    <div ng-include="'components/sidebar/sidebar.html'"></div>

    <div class="col-xs-12">
        <div class="widget">
            <div class="widget-header ng-binding">
                <i class="fa fa-users" ng-class="icon"></i> Users
                <div class="pull-right">
                    <input type="text" placeholder="Search" ng-model="sort" class="form-control input-sm ng-scope">
                </div>
            </div>

            <div class="widget-body medium no-padding" ng-class="classes">
                <div class="widget-content">
                    <div class="table-responsive ng-scope">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">No.</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Admin</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users | filter:{ name: sort }">
                                    <td class="text-center">{{$index + 1}}.</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td ng-click="changeRights(user)">
                                        <span class="fa fa-check" ng-if="user.role === 'admin'"></span>
                                        <span class="fa fa-times" ng-if="user.role !== 'admin'"></span>
                                    </td>
                                    <td>
                                        <a ng-click="delete(user)" class="trash">
                                            <span class="glyphicon glyphicon-trash pull-right"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>