
<!-- Header Bar -->
<div class="row header" ng-controller="NavbarCtrl">
    <div class="col-xs-12">
        <div class="user pull-right">
            <div class="item dropdown">
                <a href="#" class="dropdown-toggle">
                    <img src="../assets/images/avatar.jpg" class="avatar-icon" />
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="link">
                        <a href="#">
                            {{ getCurrentUser().name }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="link" ng-class="{active: isActive('/settings')}">
                        <a href="/settings">
                            Profile
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="link" ng-class="{active: isActive('/logout')}">
                        <a href="#" ng-click="logout()">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <!--<div class="item dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">
                        Notifications
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Server Down!</a>
                    </li>
                </ul>
            </div>-->
        </div>
        <div class="meta">
            <div class="page">
                Plant Mimic
            </div>
            <div class="breadcrumb-links">
                {{getBreadcrumb()}}
            </div>
        </div>
    </div>
</div>
<!-- End Header Bar -->
