<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <div ng-include="'components/navbar/navbar.html'"></div>

    <div ng-include="'components/sidebar/sidebar.html'"></div>

    <div id="content-wrapper">
        <div class="page-content">

            <div class="col-xs-12">
                <div class="row">

                    <div ui-view class="col-xs-12">

                        <br />
                        <header class="hero-unit" id="banner">
                            <div>
                                <h1>Plant Mimic</h1>
                                <p class="lead">View different schemas and signals in them.</p>
                            </div>
                        </header>
                        <div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1 class="page-header">Schemas:</h1>
                                    <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6">
                                        <li ng-repeat="schema in schemas">
                                            <a ng-if="!!schema._id" ui-sref="main.details({id: schema._id})">{{schema.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>