<div ng-include="'components/navbar/navbar.html'"></div>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" ng-model="sort" placeholder="Search...">
                </div>
            </li>
            <li ng-repeat="schema in schemas | filter:{ name: sort }">
                <a ui-sref="main.details({id: schema._id})">{{schema.name}}</a>
            </li>
        </ul>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div ui-view>

                    <header class="hero-unit" id="banner">
                        <div class="container">
                            <h1>Plant Mimic</h1>
                            <p class="lead">View different schemas and signals in them.</p>
                        </div>
                    </header>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">Schemas:</h1>
                                <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6">
                                    <li ng-repeat="schema in schemas">
                                        <a ng-if="!!schema._id" ui-sref="main.details({id: schema._id})">{{schema.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
    </div>
</footer>
